In [1]:
import pandas as pd

In [2]:
import datetime as dt

In [3]:
import matplotlib.pyplot as plt
import numpy as np

In [4]:
MousAqui20=pd.read_csv('Data/MousAqui20.csv')

In [5]:
MousPACA20=pd.read_csv('Data/MousPACA20.csv')

In [6]:
MousIDF20=pd.read_csv('Data/MousIDF20.csv')

In [7]:
MousRA20=pd.read_csv('Data/MousRA20.csv')

In [8]:
MousOcci20=pd.read_csv('Data/MousOcci20.csv')

In [9]:
Mous20=pd.merge(MousOcci20,MousIDF20, on='Semaine')

In [10]:
Mous20=pd.merge(Mous20,MousPACA20, on='Semaine')

In [11]:
Mous20=pd.merge(Mous20,MousRA20, on='Semaine')

In [12]:
Mous20=pd.merge(Mous20,MousAqui20, on='Semaine')

In [13]:
Mous20

,Semaine,Occitanie,Ile-de-France,Provence-Alpes-Cote d'Azur,Rhone-Alpes,Aquitaine
0,2020-01-05,0,9,6,0,0
1,2020-01-12,0,12,16,3,4
2,2020-01-19,7,13,0,0,0
3,2020-01-26,0,9,0,7,9
4,2020-02-02,7,9,6,3,0
...,...,...,...,...,...,...
99,2021-11-28,0,2,8,2,0
100,2021-12-05,7,9,4,0,0
101,2021-12-12,8,2,0,2,7
102,2021-12-19,9,3,0,0,0
103,2021-12-26,0,6,5,5,0

In [14]:
Mous20.columns

Index(['Semaine', 'Occitanie', 'Ile-de-France', 'Provence-Alpes-Cote d'Azur',
       'Rhone-Alpes', 'Aquitaine'],
      dtype='object')

In [15]:
Mous20.rename(columns={'Semaine':'Date'}, inplace=True)
Mous20['Date'].apply(lambda x: x.replace('-',' ').replace(' ',' ')).astype('datetime64')

0     2020-01-05
1     2020-01-12
2     2020-01-19
3     2020-01-26
4     2020-02-02
         ...
99    2021-11-28
100   2021-12-05
101   2021-12-12
102   2021-12-19
103   2021-12-26
Name: Date, Length: 104, dtype: datetime64[ns]

In [16]:
#MousPACA21=pd.read_csv('Data/MousPACA21.csv')

In [17]:
#MousIDF21=pd.read_csv('Data/MousIDF21.csv')

In [18]:
#MousRA21=pd.read_csv('Data/Moustiques21RA.csv')

In [19]:
#MousAqui21=pd.read_csv('Data/MousAqui21.csv')

In [20]:
#MousOcci21=pd.read_csv('Data/MousOcci21.csv')

In [21]:
#Mous21=pd.merge(MousPACA21,MousIDF21, on='Semaine')

In [22]:
#Mous21=pd.merge(Mous21,MousOcci21, on='Semaine')

In [23]:
#Mous21=pd.merge(Mous21,MousRA21, on='Semaine')

In [24]:
#Mous21=pd.merge(Mous21,MousAqui21, on='Semaine')

In [25]:
#Mous20.rename(columns={'Semaine':'Date'}, inplace=True)
#Mous20['Date'].apply(lambda x: x.replace('-',' ').replace(' ',' ')).astype('datetime64')

In [26]:
#Moustiques

In [27]:
QistaAqui20=pd.read_csv('Data/QistaAqui20.csv')

In [28]:
QistaOcci20=pd.read_csv('Data/QistaOcci20.csv')

In [29]:
QistaPACA20=pd.read_csv('Data/QistaPACA20.csv')

In [30]:
QistaIDF20=pd.read_csv('Data/QistaIDF20.csv')

In [31]:
QistaRA20=pd.read_csv('Data/QistaRA20.csv')

In [32]:
Qista20=pd.merge(QistaAqui20,QistaOcci20, on='Semaine')

In [33]:
Qista20=pd.merge(Qista20,QistaPACA20, on='Semaine')

In [34]:
Qista20=pd.merge(Qista20,QistaIDF20, on='Semaine')

In [35]:
Qista20=pd.merge(Qista20,QistaRA20, on='Semaine')

In [36]:
Qista20.rename(columns={'Semaine': 'Date'}, inplace=True)
Qista20.columns

Index(['Date', 'Aquitaine', 'Occitanie', 'Provence-Alpes-Cote d'Azur',
       'Ile-de-France', 'Rhone-Alpes'],
      dtype='object')

In [37]:
Qista20['Date'].apply(lambda x: x.replace('-',' ').replace(' ',' ')).astype('datetime64')

0     2020-01-05
1     2020-01-12
2     2020-01-19
3     2020-01-26
4     2020-02-02
         ...
99    2021-11-28
100   2021-12-05
101   2021-12-12
102   2021-12-19
103   2021-12-26
Name: Date, Length: 104, dtype: datetime64[ns]

In [38]:
RevMoy=pd.read_csv('Data/RevenuMoyen.csv')
#Mous20

In [39]:
#datamoustiques = Mous20.reset_index()
Mous20 = Mous20.melt(id_vars=["Date"],
               var_name="Region",
              value_name="occurrence du mot Moustique")
Mous20

           Date     Region  occurrence du mot Moustique
0    2020-01-05  Occitanie                            0
1    2020-01-12  Occitanie                            0
2    2020-01-19  Occitanie                            7
3    2020-01-26  Occitanie                            0
4    2020-02-02  Occitanie                            7
..          ...        ...                          ...
515  2021-11-28  Aquitaine                            0
516  2021-12-05  Aquitaine                            0
517  2021-12-12  Aquitaine                            7
518  2021-12-19  Aquitaine                            0
519  2021-12-26  Aquitaine                            0

[520 rows x 3 columns]

In [40]:
#Mous21.rename(columns={'Semaine': 'Date'}, inplace=True)
#Mous21 = Mous21.melt(id_vars=["Date"],
               #var_name="Region",
              #value_name="occurrence du mot Moustique")

In [41]:
#Moustiques=pd.merge(Mous20, Mous21, on="Region")
#Moustiques

In [42]:
Qista20 = Qista20.melt(id_vars=["Date"],
               var_name="Region",
              value_name="occurrence du mot Qista")

In [43]:
Qista20

           Date       Region  occurrence du mot Qista
0    2020-01-05    Aquitaine                        0
1    2020-01-12    Aquitaine                        0
2    2020-01-19    Aquitaine                        0
3    2020-01-26    Aquitaine                        0
4    2020-02-02    Aquitaine                        0
..          ...          ...                      ...
515  2021-11-28  Rhone-Alpes                        0
516  2021-12-05  Rhone-Alpes                        0
517  2021-12-12  Rhone-Alpes                        0
518  2021-12-19  Rhone-Alpes                       27
519  2021-12-26  Rhone-Alpes                        0

[520 rows x 3 columns]

In [44]:
#QistaPACA21=pd.read_csv('Data/QistaPACA21.csv')

In [45]:
#QistaIDF21=pd.read_csv('Data/QistaIDF21.csv')

In [46]:
#QistaOcci21=pd.read_csv('Data/QistaOccitanie21.csv')

In [47]:
#QistaAqui21=pd.read_csv('Data/QistaAquitaine21.csv')

In [48]:
#QistaRA21=pd.read_csv('Data/QistaRA21.csv')

In [49]:
#Qista21=pd.merge(QistaRA21,QistaAqui21, on='Semaine')

In [50]:
#Qista21=pd.merge(Qista21, QistaOcci21, on='Semaine')

In [51]:
#Qista21=pd.merge(Qista21,QistaIDF21, on='Semaine')

In [52]:
#Qista21=pd.merge(Qista21,QistaPACA21, on='Semaine')

In [53]:
#Qista21.rename(columns={'Semaine':'Date'}, inplace=True)

In [54]:
#Qista21['Date'].apply(lambda x: x.replace('-',' ').replace(' ',' ')).astype('datetime64')

In [55]:
#Qista21 = Qista21.melt(id_vars=["Date"],
               #var_name="Region",
              #value_name="occurrence du mot Qista 21")

In [56]:
#Qista21

In [57]:
#DF=pd.merge(Qista21, Mous21, on=['Region','Date'])

In [58]:
DF2=pd.merge(Qista20, Mous20, on=['Region','Date'])

In [59]:
#DF3=pd.concat([DF,DF2])

In [60]:
DF3=pd.merge(DF2,RevMoy, on='Region')

In [61]:
DF3

,Date,Region,occurrence du mot Qista,occurrence du mot Moustique,Revenu Moyen
0,2020-01-05,Aquitaine,0,0,2134
1,2020-01-12,Aquitaine,0,4,2134
2,2020-01-19,Aquitaine,0,0,2134
3,2020-01-26,Aquitaine,0,9,2134
4,2020-02-02,Aquitaine,0,0,2134
...,...,...,...,...,...
515,2021-11-28,Rhone-Alpes,0,2,2606
516,2021-12-05,Rhone-Alpes,0,0,2606
517,2021-12-12,Rhone-Alpes,0,2,2606
518,2021-12-19,Rhone-Alpes,27,0,2606
519,2021-12-26,Rhone-Alpes,0,5,2606

In [62]:
def fill_in_missing_dates(df, date_col_name ,date_order , fill_value  , days_back ):

    df.set_index(date_col_name,drop=True,inplace=True)
    df.index = pd.DatetimeIndex(df.index)
    d = datetime.now().date()
    d2 = d - timedelta(days = days_back)
    idx = pd.date_range(d2, d, freq = "D")
    df = df.reindex(idx,fill_value=fill_value)
    df[date_col_name] = pd.DatetimeIndex(df.index)

    return df

In [63]:
DF3['Date'].apply(lambda x: x.replace('-',' ').replace(' ',' ')).astype('datetime64')
#Test=fill_in_missing_dates(DF3, date_col_name='Date', date_order = 'asc', fill_value = 0, days_back = 30)

0     2020-01-05
1     2020-01-12
2     2020-01-19
3     2020-01-26
4     2020-02-02
         ...
515   2021-11-28
516   2021-12-05
517   2021-12-12
518   2021-12-19
519   2021-12-26
Name: Date, Length: 520, dtype: datetime64[ns]

In [64]:
DF3.drop_duplicates

<bound method DataFrame.drop_duplicates of            Date       Region  occurrence du mot Qista  \
0    2020-01-05    Aquitaine                        0
1    2020-01-12    Aquitaine                        0
2    2020-01-19    Aquitaine                        0
3    2020-01-26    Aquitaine                        0
4    2020-02-02    Aquitaine                        0
..          ...          ...                      ...
515  2021-11-28  Rhone-Alpes                        0
516  2021-12-05  Rhone-Alpes                        0
517  2021-12-12  Rhone-Alpes                        0
518  2021-12-19  Rhone-Alpes                       27
519  2021-12-26  Rhone-Alpes                        0

     occurrence du mot Moustique  Revenu Moyen
0                              0          2134
1                              4          2134
2                              0          2134
3                              9          2134
4                              0          2134
..                           ...           ...
515                            2          2606
516                            0          2606
517                            2          2606
518                            0          2606
519                            5          2606

[520 rows x 5 columns]>

In [65]:
DF3[DF3.index.duplicated()]

Empty DataFrame
Columns: [Date, Region, occurrence du mot Qista, occurrence du mot Moustique, Revenu Moyen]
Index: []

In [66]:
r=pd.date_range(start=DF3.Date.min(), end=DF3.Date.max())
DF3.set_index('Date').reindex('index').fillna(0.0).rename_axis('Date').reset_index()
DF3.columns

TypeError: Index(...) must be called with a collection of some kind, 'index' was passed

In [ ]:
DF3

In [ ]:
DF3=DF3.fillna(0)

In [ ]:
V_vertes=pd.read_csv('Data/VillesVertes.csv')

In [ ]:
DF3=pd.merge(V_vertes,DF3, on='Region')

In [ ]:
DF3

In [ ]:
DF3.head(25) #PARFAIT

In [ ]:
DF3=DF3.set_index('Date')

In [ ]:
DF3

In [ ]:
idx=pd.date_range(start="2020-01-01", end="2021-12-31")

In [ ]:
DF3.index=pd.to_datetime(DF3.index)

In [ ]:
#DF3T=DF3.reindex(idx, fill_value=0)

In [ ]:
DF3.columns

In [ ]:
DF3

In [ ]:
DF3["Region"]=="Occitanie"

In [ ]:
Occi=DF3[DF3["Region"]=="Occitanie"]

In [ ]:
PACA=DF3[DF3["Region"]=="Provence-Alpes-Cote d'Azur"]

In [ ]:
Aqui=DF3[DF3["Region"]=="Aquitaine"]

In [ ]:
IDF=DF3[DF3["Region"]=="Ile-de-France"]

In [ ]:
RA=DF3[DF3["Region"]=="Rhone-Alpes"]

In [ ]:
Aqui

In [ ]:
Aqui.index

In [ ]:
idx=pd.date_range(start="2020-01-01", end="2021-12-31")

In [ ]:
Aqui=Aqui.reindex(idx, fill_value=0)

In [ ]:
for i in Aqui:
    Aqui['Region']="Aquitaine"
    Aqui['Revenu Moyen']=2134
    Aqui['facteur villes vertes']=0.9

In [ ]:
Occi=Occi.reindex(idx, fill_value=0)

In [ ]:
for i in Occi:
    Occi['Region']="Occitanie"
    Occi['Revenu Moyen']=2069
    Occi['facteur villes vertes']=0.7

In [ ]:
IDF=IDF.reindex(idx, fill_value=0)

In [ ]:
for i in IDF: 
    IDF['Region']="Ile-de-France"
    IDF['Revenu Moyen']=2741
    IDF['facteur villes vertes']=0.7

In [ ]:
RA=RA.reindex(idx, fill_value=0)

In [ ]:
for i in RA: 
    RA['Region']="Rhone-Alpes"
    RA['Revenu Moyen']=2606
    RA['facteur villes vertes']=0.4

In [ ]:
PACA=PACA.reindex(idx, fill_value=0)

In [ ]:
for i in PACA:
    PACA['Region']="Provence-Alpes-Cote d'Azur"
    PACA['Revenu Moyen']=2306
    PACA['facteur villes vertes']=1.0

In [ ]:
DF3=pd.concat([PACA,RA])

In [ ]:
DF3=pd.concat([DF3,IDF])

In [ ]:
DF3=pd.concat([DF3,Occi])

In [ ]:
DF3=pd.concat([DF3,Aqui])

In [ ]:
DF3

In [ ]:
DF3.plot()
plt.show()

In [ ]:
DF3.to_csv('Data/Dataframe.csv')

In [ ]:
DF3.plot.scatter(x="Region", y="occurrence du mot Qista", alpha=1)
#<AxesSubplot:xlabel='Region', ylabel='Occurrence du mot Qista'>

In [ ]:
axs = DF3.plot.area(figsize=(20, 10), subplots=True)

In [ ]:
DataSetFinal=pd.read_csv('Data/FinalDataset.csv')